$component-name: "c-card";

.#{$component-name} {
  border-radius: rem-calc(6);
  color: $webfatorial-white;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: $global-module-size ($global-module-size * 2);
  position: absolute;
  top: 0;
  transition: all $transition-duration-complex ease-in;
  width: 100%;

  &.is-active {
    clip-path: circle(100%);
    transition-delay: 0s;
    z-index: z-index(default);
  }

  &:not(.is-active) {
    transition-delay: $transition-duration-exit;
  }

  &--index {
    background-color: $webfatorial-white;
    color: $text-color;
    clip-path: circle(0% at rem-calc(720) 10%);
  }

  &--instagram {
    background-color: $instagram-color;
    clip-path: circle(0% at rem-calc(600) 90%);

    .c-button {
      background-color: #4f5bd5;

      &:hover {
        background-color: lighten(#4f5bd5, 5%);
      }
    }
  }

  &--linkedin {
    background-color: $linkedin-color;
    clip-path: circle(0% at rem-calc(660) 90%);

    .c-button {
      background-color: $webfatorial-white;
      color: $text-color;

      &:hover {
        background-color: darken($webfatorial-white, 15%);
      }
    }
  }

  &--twitter {
    background-color: $twitter-color;
    clip-path: circle(0% at rem-calc(725) 90%);

    .c-button {
      background-color: $webfatorial-white;
      color: $text-color;

      &:hover {
        background-color: darken($webfatorial-white, 10%);
      }
    }
  }

  &__content {
  }

  &__title {
    font-weight: normal;
    line-height: 1;
    margin: 0;

    &-emphasis {
      display: inline-block;
      flex: 1;
      font-size: 210%;
      font-weight: bold;
      width: 100%;
    }
  }

  &__explanation {
    line-height: 1.6;
    margin: $global-module-size 0;
  }
}
